doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    include ../includes/head/head-meta
    block title
    include ../includes/head/head-links
    script(src="js/theme.js")
  body(class="bg-gray-100 dark:text-white dark:bg-gray-800")
    header
      include ../includes/navigation
    
    main(class="px-4 py-8")
      block content

    block scripts
    
    script(src="js/main.js")