link(
rel="shortcut icon"
href="/images/favicon/favicon.ico"
)

link(rel="manifest" href="/images/favicon/site.webmanifest")

link(rel="stylesheet" href="/css/style.css")

link(rel="stylesheet" href="/css/main.css")