html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Instagram Videos Downloder - 404
    include includes/head/head-links
    script(src="js/theme.js")
  body(class="bg-gray-100 dark:text-white dark:bg-gray-800")
    div(class="p-4")
        h1(class="text-3xl font-bold mb-2") 404 NOT FOUND
        p The resource you are trying to access does not exist