extends layouts/base

block title
    title Instagram Videos Downloder

block content
  div(class="container mx-auto max-w-xl")
    h1(class="text-3xl text-center font-bold mb-8 select-none") Instagram Video Downloader
    div(class="flex flex-col items-center text-center mb-4 p-4 mx-auto border border-gray-300 dark:border-gray-600 rounded-lg")
        div(class="flex flex-wrap justify-center items-center w-full px-2 py-2 mb-2 bg-gray-200 dark:bg-gray-700 font-semibold rounded-lg")
          span(class="tracking-wide mr-0.5") www.instagram.com/p/CGh4a0iASGS
        span Copy and paste the post link or ID as shown in the example above then press Download
    div(class="mx-auto")
      include includes/index/download-form

block scripts
    script(src="js/insta-downloder.js")