@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animate-up {
  0% {
    opacity: 0;
    transform: translate(0, 80px);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-drop {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-late-fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
