@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@keyframes animate-up {
  0% {
    opacity: 0;
    transform: translate(0, 80px);
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-drop {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-roll-in {
  0% {
    opacity: 0;
    transform: translate(150px, 0) scale(0.5, 0.5) rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1) rotate(0deg);
  }
}
